@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateForm","Users")
</p>
@Html.Partial("~/Views/Users/_Index.cshtml")